/* GENERAL */

html, body {
    color: #3a3a3a;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}

.container::before,
.group::before,
.container::after,
.group::after {
    content: " ";
    display: table; 
}

.container::after,
.group::after {
    clear: both;
}

.container,
.group {
    *zoom: 1;
}

a {
    color: #c36571;
    text-decoration: none;
    transition: 0.5s ease-out;
}

a:hover {
    text-decoration: revert;
    font-weight: 900;
}

/* Navigation */
.nav-bar {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
    height: 70px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4em;
}

.logo-wrapper {
    float: left;
}

nav {
    float: right;
}

.logo {
    margin-top: 0.8em;
    font-family: "DM Serif Display", serif;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.logo a {
    color: #5c5c5c;
}

.logo a:hover {
    text-decoration: none;
    font-weight: normal;
}

.navigation {
    display: flex;
    margin-top: 1em;
}

.navigation ul {
    display: flex;
}

.navigation li {
    display: block;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 50px;
    transition: 0.5s ease-out;
}

.navigation li:focus, 
.navigation li:active {
    color: #fff;
    background: #be5663;
}

.navigation a {
    font-size: .9rem;
    color: #3a3a3a;
    text-decoration: none;
    font-weight: 500;
}

.navigation a:hover,
.navigation a:focus {
    color: #be5663;
}

li.highlight {
    background: #e37784;
    background-image: linear-gradient(77deg, #be5663, transparent);
}

li.highlight:focus,
li.highlight:hover,
li.highlight:active {
    background-image: none;
}

.highlight a,
.highlight a:hover,
.highlight a:focus,
.highlight a:active {
    color: #fff;
}

/* First section*/

#home {
    width: 100%;
    height: 800px;
    background-image: url('../images/streets-recepty-uvod-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
}

.first-section-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 4%;
}

span.big {
    font-size: 9.5rem;
    line-height: 0.9;
    font-weight: 900;
    color: #be5663;
    margin-top: 13rem;
    margin-bottom: 1rem;
    font-family: "DM Serif Display", serif;
    max-width: 640px;
}

#home h1 {
    color: transparent;
}

p.first-p {
    max-width: 630px;
    margin-bottom: 3rem;
    font-size: 1.15rem;
}

/* Mini recipes*/

.mini-recipes-item {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.3s cubic-bezier(0.45, 0, 0.55, 1) 0s, background 100ms ease-out 0s;
}

.mini-recipes-item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mini-recipes, .recipes-preview {
    display: flex;
    justify-content: space-evenly;
}

.mini-recipes a, .recipes-preview a{
    text-decoration: none;
    color: inherit;
    padding: 1%;
}

.mini-recipes-image {
    width: 100%;
}

.mini-recipes img, .recipes-preview img{
    max-width: 100%;
    border-radius: 15px 15px 0 0;
    height: auto;
}

.mini-recipes-content {
    padding: 5px;
}

.mini-recipes .main-content, .recipes-preview .main-content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
}

.mini-recipes .text, .recipes-preview .text{
    font-weight: 900;
    font-size: 0.9rem;
    padding: 5px;
}

.mini-recipes .badge, .recipes-preview .badge{
    background: pink;
    color: #be5663;
    font-weight: 900;
    border-radius: 50%;
    padding: 2px;
    height: 30px;
    width: 30px;
    font-size: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.mini-recipes .info-underline, .recipes-preview .info-underline{
    padding: 5px;
    font-size: 0.7rem;
    color: grey;
}

/* Recipes section*/

.recipes {
    padding: 10% 5% 8%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.recipes-preview {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
}

.recipes-preview a {
    flex-basis: 23%;
}

.recipes-preview .badge {
    margin-right: 2px;
}